<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %} | МТУСИ</title>

    {% load staticfiles %}

    <!-- Preloader -->
    <link rel="stylesheet" href="{% static "css/preloader.css" %}">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "icons/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "icons/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "icons/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "icons/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "icons/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "icons/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "icons/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "icons/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "icons/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "icons/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "icons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "icons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "icons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#009688">
    <meta name="msapplication-TileImage" content="{% static "icons/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#009688">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Material Design fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap Material Design -->
    <link href="{% static "css/bootstrap-material-design.min.css" %}" rel="stylesheet" charset="utf-8">
    <link href="{% static "css/ripples.min.css" %}" rel="stylesheet" charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static "css/offline-theme-slide-indicator.css" %}" charset="utf-8">

    <link rel="stylesheet" href="{% static "css/outdatedbrowser.min.css" %}" charset="utf-8">

    <link rel="stylesheet" type="text/css" href="{% static "css/template.css" %}" charset="utf-8">

    {% block css %}

    {% endblock css %}

</head>
<body>

    <noscript>
        <div class="no_js container">
          <h1>Для работы необходимо <a href="http://www.enable-javascript.com/ru/"> включить JavaScript</a>.</h1>
        </div>
    </noscript>

    <div class="preloader">
        <div class="md-preloader"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="75" width="75" viewbox="0 0 75 75"><circle cx="37.5" cy="37.5" r="33.5" stroke-width="8"/></svg></div>
    </div>

    <div id="outdated">
     <h6>Ваш браузер устарел!</h6>
     <p>
        Обновите ваш браузер для правильного отображения этого сайта.
        <a id="btnUpdateBrowser" href="http://outdatedbrowser.com/">Обновить браузер </a>
     </p>
     <p class="last"><a href="#" id="btnCloseUpdateBrowser" title="Закрыть">&times;</a></p>
    </div>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" class="away" href="/"><img alt="Logo" src="{% static "icons/android-icon-36x36.png" %}"></a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><a class="away" href="/">Главная</a></li>
            <li><a class="away" href="javascript:void(0)">Посещаемость</a></li>

            {% block menu_active %}{% endblock menu_active %}

          </ul>
          {% comment "Пример поля поиска" %}
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control col-md-8" placeholder="Поиск">
            </div>
          </form>
          {% endcomment %}
            <ul class="nav navbar-nav navbar-right">
            {% if request.user.is_authenticated %}
                <li class="dropdown">
                  <a href="javascript:void(0)" data-target="#" class="dropdown-toggle account" data-toggle="dropdown"><i class="material-icons">account_circle</i> {{request.user.last_name }} {{ request.user.first_name }}
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    {% if request.user.is_admin %}
                        <li class="dropdown-header">Администратор</li>
                        <li><a class="away" href="{% url "admin:index" %}">Панель администратора</a></li>
                    {% endif %}
                    {% if request.user.is_deanery %}
                        <li class="dropdown-header">Деканат</li>
                        <li><a href="{% url "manage:main" %}" class="away">Панель управления</a></li>
                    {% endif %}
                    {% if request.user.is_steward %}
                        <li class="dropdown-header">Староста</li>
                        <li><a href="{% url "steward" %}" class="away">Интерфейс старосты</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a class="away" href="{% url "logout" %}"><span data-content="Выход из системы" data-toggle="snackbar" data-style="toast">Выйти</span></a></li>
                  </ul>
                </li>
            {% else %}
                <!--Не использовать get_full_path, т.к. может вызвать цепочку редиректов-->
                <li><a class="away" href="/login/?next={{ request.path }}"><span data-content="Перенаправление на страницу входа" data-toggle="snackbar" data-style="toast"> Войти </span></a></li>

            {% endif %}

            </ul>
        </div>
      </div>
    </div>

    {% block content %}{% endblock content %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static "js/material.min.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/ripples.min.js" %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static "js/offline.min.js" %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static "js/snackbar.js" %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static "js/outdatedbrowser.min.js" %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static "js/template.js" %}" charset="utf-8"></script>

    {% block js %}{% endblock js %}

</body>
</html>
