<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>Ошибка 400 | МТУСИ</title>
    {% load staticfiles %}
    {% load get_settings %}

    <meta name="DCS.dcssta" content="400">

    <meta name="description" content="Возникла ошибка при запросе. Возможно, были неверно указаны входные данные">
    <meta name="robots" content="noindex,follow">
    <meta name="copyright" content="Московский технический университет связи и информатики">
    <meta name="language" content="RU">

    <meta name="apple-mobile-web-app-title" content="Посещаемость МТУСИ">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Посещаемость МТУСИ">

    <meta name="msapplication-tooltip" content="Приложение по контролю за посещаемостью МТУСИ">
    <meta name="msapplication-navbutton-color" content="#EF8F18">

    <link rel="index" title="Посещаемость МТУСИ" href="{% get_settings "SITE_URL" %}">
    <meta name="application-url" content="{% get_settings "SITE_URL" %}">
    <meta name="msapplication-starturl" content="{% get_settings "SITE_URL" %}">

    <meta name="geo.position" content="55.784365;37.482593">
    <meta name="ICBM" content="55.784365, 37.482593">
    <meta name="geo.country" content="ru">
    <meta name="geo.placename" content="Moscow, Russian Federation">
    <meta name="og:latitude" content="55.784354">
    <meta name="og:longitude" content="37.482593">
    <meta name="og:street-address" content="улица Народного Ополчения 32">
    <meta name="og:locality" content="Москва">
    <meta name="og:region" content="Москва">
    <meta name="og:country-name" content="Российская Федерация">
    <meta property="place:location:latitude" content="55.784354">
    <meta property="place:location:longitude" content="37.482593">
    <meta property="business:contact_data:street_address" content="улица Народного Ополчения 32">
    <meta property="business:contact_data:locality" content="Москва">
    <meta property="business:contact_data:country_name" content="Российская Федерация">

    <meta name="web_author" content="Igor Morozov (gogamwar@gmail.com)">
    <meta name="designer" content="Igor Morozov (gogamwar@gmail.com)">

    <meta property="og:title" content="Посещаемость МТУСИ - Bad Response (400)">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{% url "index" %}">
    <meta property="og:image" content="{% static "imgs/og_placeholder.jpg" %}">
    <meta property="og:description" content="Возникла ошибка при запросе. Возможно, были неверно указаны входные данные">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:site_name" content="МТУСИ">

    <meta itemprop="name" content="Посещаемость МТУСИ">
    <meta itemprop="description" content="Возникла ошибка при запросе. Возможно, были неверно указаны входные данные">
    <meta itemprop="image" content="{% static "imgs/og_placeholder.jpg" %}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="Посещаемость МТУСИ">
    <meta name="twitter:title" content="Ошибка 400">
    <meta name="twitter:description" content="Возникла ошибка при запросе. Возможно, были неверно указаны входные данные">
    <meta name="twitter:creator" content="МТУСИ">
    <meta name="twitter:image:src" content="{% static "imgs/og_placeholder.jpg" %}">
    <meta name="twitter:domain" content="{% get_settings "SITE_URL" %}">

    <meta name="title" content="Посещаемость МТУСИ - Ошибка 400">
    <link rel="image_src" href="{% static "imgs/og_placeholder.jpg" %}">

    <link rel="apple-touch-icon" sizes="57x57" href="{% static "icons/apple-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "icons/apple-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "icons/apple-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "icons/apple-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "icons/apple-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "icons/apple-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "icons/apple-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "icons/apple-icon-152x152.png" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "icons/apple-icon-180x180.png" %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static "icons/android-icon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static "icons/favicon-96x96.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "icons/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "icons/manifest.json" %}">
    <meta name="msapplication-TileColor" content="#EF8F18">
    <meta name="msapplication-TileImage" content="{% static "icons/ms-icon-144x144.png" %}">
    <meta name="theme-color" content="#EF8F18">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

    <!-- Material Design fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Bootstrap Material Design -->
    <link href="{% static "css/bootstrap-material-design.min.css" %}" rel="stylesheet">
    <link href="{% static "css/ripples.min.css" %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static "css/template.css" %}">

</head>
<body>

    <div class="container">
        <div class="jumbotron" style="margin-top: 10vh; text-align: center; background: #EF8F18">
            <h1 style="color: #FFFFFF;font-family: Roboto Condensed;text-shadow: 0 0 35px rgba(0, 0, 0, 0.5);">Bad Request (400)</h1>
            <p style="color: rgba(255, 255, 255, 0.61)">Возникла ошибка при обработке переданных даннах</p>
            <i class="material-icons" style="font-size: 35vh; color: rgba(255, 255, 255, 0.31)">sync_problem</i>
            <p><a href="/" class="btn btn-warning btn-lg" style="color: #FFFFFF">На главную страницу</a></p>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static "js/material.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ripples.min.js" %}"></script>

    <script type="text/javascript">
        $.material.init();
    </script>

</body>
</html>
